@charset "utf-8";
html{
    font-size:16px;
}

*,*::before,*::after{
    box-sizing:border-box;
}

body{
    margin: 0;
    line-height: normal;
    font-family:"Helvetica Neue",
    Arial, 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    background-image: url(../img/backgrond-pc.png);
    background-attachment: fixed;
    overflow:hidden;
}
p{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 8px;
    font-size:38px;
    font-weight: bold;
    text-align:center;
    background: linear-gradient(to right bottom,white,black,red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: flash 3s forwards;
}
.wrapper{
    position:relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}
.game-container{
    padding:40px 0;
}
.message-container{
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}
.js-hidden{
    display: none;
}
.js-white-checked::before{
    position: absolute;
    top:0;
    left: 0;
    width: 61px;
    height: 61px;
    content:"";
    background-image:url(../img/white.png);
    background-size: contain;
}
.js-black-checked::before{
    position: absolute;
    top:0;
    left: 0;
    width: 61px;
    height: 61px;
    content:"";
    background-image:url(../img/black.png);
    background-size: contain;
}
.js-unclickable{
    pointer-events: none;
}
.squares-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 200px;
}
.squares-box{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px #333;
}
.square{
    position: relative;
    width: calc(196px/3);
    height: calc(196px/3);
    border: solid 2px rgb(194, 194, 194);
}
.btn{
    position: relative;
    margin-top: 8px;
    padding: 12px;
    border-radius:10px;
    color:whitesmoke;
    font-size: 24px;
    background: linear-gradient(90deg,grey,rgb(49, 0, 0),black);
    user-select:none;
    cursor:pointer;
    overflow: hidden;
}
.btn span{
    position: absolute;
    width:30px;
    height: 30px;
    background-color: white;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    animation:anima 1s ease 1;
    pointer-events: none;
}
.back{
    margin-top: 8px;
    margin-left: 20px;
    text-align: left;
}
.text{
    font-size:30px;
    font-weight: bold;
    text-align:center;
    background: linear-gradient(to right bottom,white,black,red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: heartBeat 2s forwards;
}
.text1{
    color: white;
}
.text2{
    color:black;
}
.image{
    animation: tada 2s forwards;
}
#menu{
    position:relative;
    margin-top: 8px;
    margin-right: 125px;
    text-align: right;
    color: red;
}
#restart{
    font-size:20px;
    background: linear-gradient(90deg,grey,rgb(49, 0, 0),black ,white);
    background-size:400%;
    width:175px;
    height:50px;
    text-transform: uppercase;
    border-radius: 50px;
}

#restart:hover{
    animation: sun 8s infinite;
}
footer>p{
    position: absolute;
    bottom:5px;
    width: 100%;
    margin: 0px;
    color: whitesmoke;
    font:16px Rajdhani;
    text-align: center;
    background: rgba(1,24,31,0.7);
}
@keyframes anima{
    from{
        width:0;
        height: 0;
        opacity:0.8;
    }
    to{
        width:400px;
        height: 400px;
        opacity: 0;
    }
}
@keyframes sun{
    100%{
        background-position: -400% 0;
    }
}
@media screen and (max-width:480px) {
    body{
        background-image: url(../img/background-mobile.png);
    }
    .wrapper{
        padding-bottom: 23px;
    }
    .btn-container{
        padding-top: 2px;
    }
}